body {
	background-image: url('../../assets/image/login/fall.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	margin: 0;
	padding: 0;
	background-color: black;
}
.set {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.set div {
	position: absolute;
	display: block;
}
.set div:nth-child(1) {
	left: 20%;	
	animation: animate 15s linear infinite;
	animation-delay: -7s;
}
.set div:nth-child(2) {
	left: 50%;	
	animation: animate 20s linear infinite;
	animation-delay: -5s;
}
.set div:nth-child(3) {
	left: 70%;	
	animation: animate 25s linear infinite;
}
.set div:nth-child(4) {
	left: 0%;
	animation: animate 15s linear infinite;	
	animation-delay: -5s;
}
.set div:nth-child(5) {
	left: 85%;	
	animation: animate 18s linear infinite;
	animation-delay: -10s;
}
.set div:nth-child(6) {
	left: 0%;	
	animation: animate 12s linear infinite;
}
.set div:nth-child(7) {
	left: 15%;
	animation: animate 14s linear infinite;	
}
.set div:nth-child(8) {
	left: 60%;	
	animation: animate 15s linear infinite;
}
/*keyframe for leave drop*/
@keyframes animate {
	0%
	{
		opacity: 0;
		top: -10%;	
		transform: translateX(20px) rotate(0deg);
	}
	10%
	{
		opacity: 1;
	}
	20%
	{
		transform: translateX(-20px) rotate(45deg);
	}
	40%
	{
		transform: translateX(-20px) rotate(90deg);
	}
	60%
	{
		transform: translateX(20px) rotate(135deg);
	}
	80%
	{
		transform: translateX(-20px) rotate(180deg);
	}
	100%
	{
		top: 110%;
		transform: translateX(-20px) rotate(225deg);	
	}
}
.set2 {
	transform: scale(2) rotateY(180deg);
	filter: blur(4px);
}
.set3 {
	transform: scale(0.8) rotateY(180deg);
	filter: blur(2px);
}
 /*position div*/
.loginBox {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 18px;
}
/*position user icon*/
.user {	
	border-radius: 50%;
}
h2 {
	color: #efed40;
}
p  {
	margin-top: 12px; 
}
p.login-remember  {
	text-align: center;
}
/*set transparent background for input field*/
.loginBox input[type="text"],
.loginBox input[type="password"] {
	border: none;
	border-bottom: 1px solid #fff;
	background-color: transparent;
	outline: none;
	height: 40px;
	color: #fff!important;
	font-size: 16px;
	border-radius: 20px;
	width: 100%;
	padding-left: 20px;
}
.loginBox input[type="submit"] {
	border: none;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
	background-color: #ff267e;
	cursor: pointer;
	border-radius: 20px ;
	display: block;
	width: 100%;
}
.loginBox input[type="submit"]:hover {
	background-color: #efed40;
	color: #262626;
	font-weight: bold;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.loginBox a:hover {
	font-weight: bold;
	color: rgba(255, 255, 255, 1)!important;
}
label {
	color: white;
}
.social ul li {
	transform: rotate(-30deg) skew(25deg);
	width: 60px;
	height: 60px;
	margin: 0 30px;
}
.social ul li span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	transition: 0.5s;
	color: #fff;
	font-size: 30px!important;
	display: flex!important;
	justify-content: center;
	align-items: center;
}
.social ul li:hover span {
	box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1);
}
.social ul li:hover span:nth-child(5) {
	transform: translate(40px, -40px);
	opacity: 1;
}
.social ul li:hover span:nth-child(4) {
	transform: translate(30px, -30px);
	opacity: 0.8;
}
.social ul li:hover span:nth-child(3) {
	transform: translate(20px, -20px);
	opacity: 0.6;
}
.social ul li:hover span:nth-child(2) {
	transform: translate(10px, -10px);
	opacity: 0.4;
}
.social ul li:hover span:nth-child(1) {
	transform: translate(0, 0);
	opacity: 0.2;
}
.social ul li:nth-child(1) span {
	background-color: #00d30c;
}
.social ul li:nth-child(2) span {
	background-color: #55acee;
}
.social ul li:nth-child(3) span {
	background-color: #dd4b39;
}
.social ul li:nth-child(4) span {
	background-color: #0077B5;
}
.social ul li:nth-child(5) span {
	background-color: #e4405f;
}
::placeholder {
	color: rgba(255, 155, 255, 0.8);
}
.log-already {
	z-index: 1000;
	position: relative; 
}
.log-already a:hover {
	color: red!important;
}

/*define company name animation*/
.login-click {
    font-weight:  100;
    letter-spacing: 2px;
    text-align: center;  
    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 10s infinite linear;
}
@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}